.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 343px;
  padding-bottom: 24px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 133px;
    padding-bottom: 72px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  backdrop-filter: blur(16px);
  background: #fff;
  border-radius: 36px;
  padding: 32px 16px;

  @include media(desktop) {
    padding: 32px 24px;
    max-width: 518px;
    margin-left: auto;
  }
}

.hero-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 32px;
  }
}

.hero-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  color: #131313;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 32px;
  }
}

.hero-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #505050;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 18px;
    max-width: 318px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px 0 rgba(48, 65, 30, 0.25);
  background: #95d452;
  border-radius: 50px;
  padding: 12px 20px;
  width: 100%;
  max-width: 295px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #6d993d;

    .her-btn-top-text {
    }

    .her-btn-bottom-text {
    }
  }

  @include media(desktop) {
    max-width: 240px;
  }
}

.hero-btn-text-wrapper {
  @include media(desktop) {
  }
}

.her-btn-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-bottom: 4px;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.her-btn-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}
