<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <img
        class="about-img1"
        src="./img/about/about-img1.png"
        alt="Screenshot of the game"
        width="326"
        height="408"
        loading="lazy"
      />
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <div class="about-title-wrapper">
            <h2 class="section-title about-title">Game World</h2>
            <p class="about-top-text">
              Beast Go! takes place in this crazy world where different animals
              have claimed their own territories, and trust me, getting around
              isn't always easy with all the weird terrain and random stuff that
              happens.
            </p>
            <p class="about-middle-text">
              Every board's got its own vibe - you might be trekking through
              forests one game, then dealing with desert heat the next, or
              trying not to slip on ice plains.
            </p>
            <p class="about-bottom-text">
              And there are always secret paths and surprises hiding everywhere.
            </p>
          </div>
        </div>
        <img
          class="about-img2"
          src="./img/about/about-img2.png"
          alt="Screenshot of the game"
          width="326"
          height="408"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
