<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <div class="gameplay-text-wrapper">
          <h2 class="section-title gameplay-title">How to Play</h2>
          <ul class="gameplay-list">
            <li class="gameplay-list-item">
              <svg class="gameplay-icon" width="12" height="12">
                <use href="./img/sprite.svg#icon-circle"></use>
              </svg>
              <p class="gameplay-item-text">
                Roll or choose movement options to advance across board tiles
              </p>
            </li>
            <li class="gameplay-list-item">
              <svg class="gameplay-icon" width="12" height="12">
                <use href="./img/sprite.svg#icon-circle"></use>
              </svg>
              <p class="gameplay-item-text">
                Land on special tiles to trigger events and power-ups
              </p>
            </li>
            <li class="gameplay-list-item">
              <svg class="gameplay-icon" width="12" height="12">
                <use href="./img/sprite.svg#icon-circle"></use>
              </svg>
              <p class="gameplay-item-text">
                Recruit animal companions with unique abilities
              </p>
            </li>
            <li class="gameplay-list-item">
              <svg class="gameplay-icon" width="12" height="12">
                <use href="./img/sprite.svg#icon-circle"></use>
              </svg>
              <p class="gameplay-item-text">
                You've gotta think ahead about which way to go and what moves to
                make
              </p>
            </li>
            <li class="gameplay-list-item">
              <svg class="gameplay-icon" width="12" height="12">
                <use href="./img/sprite.svg#icon-circle"></use>
              </svg>
              <p class="gameplay-item-text">
                Beat everyone else to the finish line while grabbing as much
                good stuff as you can along the way
              </p>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="556"
            height="536" />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="343"
            height="326" />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="326"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
