<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-img-desk.png"
            media="(min-width: 1440px)"
            width="366"
            height="286" />
          <source
            srcset="./img/hero/hero-img-mob.png"
            width="205"
            height="160" />
          <img
            class="hero-img"
            src="./img/hero/hero-img-mob.png"
            alt="Screenshot of the game"
            width="205"
            height="160"
        /></picture>
        <p class="hero-subtitle">Move Smart. Go Wild.</p>
        <p class="hero-text">
          Navigate the board, master your strategy, and conquer the Beast Go!
          world.
        </p>
        <a
          class="hero-btn"
          href="https://play.google.com/store/apps/details?id=com.ninthart.board.beastgo"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="playstore-icon" width="30" height="34">
            <use href="./img/sprite.svg#icon-playstore"></use>
          </svg>
          <div class="hero-btn-text-wrapper">
            <p class="her-btn-top-text">GET IT ON</p>
            <p class="her-btn-bottom-text">Google Play</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
