<section class="section strategy-section" id="strategy">
  <div class="strategy-bg-wrapper">
    <div class="container strategy-container">
      <div class="strategy-content-wrapper">
        <h2 class="section-title strategy-title">Strategy Elements</h2>
        <ul class="strategy-list">
          <li class="strategy-list-item">
            <svg class="strategy-icon" width="40" height="40">
              <use href="./img/sprite.svg#icon-x"></use>
            </svg>
            <p class="strategy-item-text">Tactical movement choices</p>
          </li>
          <li class="strategy-list-item">
            <svg class="strategy-icon" width="40" height="40">
              <use href="./img/sprite.svg#icon-koala"></use>
            </svg>
            <p class="strategy-item-text">
              Animal companions with special abilities
            </p>
          </li>
          <li class="strategy-list-item">
            <svg class="strategy-icon" width="40" height="40">
              <use href="./img/sprite.svg#icon-wings"></use>
            </svg>
            <p class="strategy-item-text">Interactive board events</p>
          </li>
          <li class="strategy-list-item">
            <svg class="strategy-icon" width="40" height="40">
              <use href="./img/sprite.svg#icon-cake"></use>
            </svg>
            <p class="strategy-item-text">Bonus encounters and loot tiles</p>
          </li>
          <li class="strategy-list-item">
            <svg class="strategy-icon" width="40" height="40">
              <use href="./img/sprite.svg#icon-snowflake"></use>
            </svg>
            <p class="strategy-item-text">
              Risks and rewards balance on every turn
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
